<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="MailChimp_Demo_QA_Automation_Test_Report" verbose="1" preserve-order="true">
    <test name="Test Automation MailChimp">
        <classes>
        	 <class name="com.mailchimp.automation.testcases.AboutPageTest"/>
        </classes>
    </test>
</suite>